<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheResult="false">
    <testsuites>
        <testsuite name="HueClient Test Suite">
            <directory>tests</directory>
            <exclude>tests/Integration</exclude>
            <exclude>tests/Laravel</exclude>
            <exclude>tests/Symfony</exclude>
            <exclude>tests/Api</exclude>
        </testsuite>
    </testsuites>
</phpunit>